.submit-button{
	display: block;
	border: 0;
	background: none;
	box-shadow: none;
	background-color: #7cc6fe;
	height: 40px;
	width: 25%;
}
.input{
	font-size: 20px;
}

.visible-desktop{
	display: none !important;
}
.visible-mobile{
	display: inline !important;	
}

body{
	margin: 0;
	background-color: #ccd5ff;

}
p{
	font-size: 30px;
	color: black;
}
.header-flex{
	margin: 0;
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 200px;
	background-color: #c88486;
	width: 100%

}
.menu-item{
	margin: 0;
	display: block;
}
.form-div{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 150px;
	width: 100%;

}
.form-item{
	display: block;
}
.filler-div{
	height: 110px;
}
.about-text{
	font-size: 15px;
}
.about-div{
	display: flex;
	grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width: 655px){
	.header-flex{
		flex-direction: row;	
		height: 110px;
	}
}
@media (min-width: 1200px){
	.visible-desktop{
		display: inline !important;
	}
	.visible-mobile{
		display: none !important;	
	}
	.header-flex{
		flex-direction: row;	
	}
}
