body{
	background-color: black;
}
h1 {
	font-size: 40px;
	color: white;
	text-align: center;
	line-height: 140px;
}
#description{
	text-align: center;
	color: white;

}
.title-box {
	background-color: blue;
	width: 80%;
	justify-content: center;
	border: 10px solid aqua;
	border-radius: 15px;

}
#title-container{
	height: 200px;
	display: flex;
	background-color: transparent;
	justify-content: center;
}
#personal-container{
	background-color:transparent;
	display: flex;
	height: 600px;
	justify-content: center;
	padding: 10px;

}
#personal-box{
	background-color: teal;
	width: 90%;
		
}
#checkboxes{

}
#labels{

}
body{
	background-image: url(error.png);
}
