body{
	background-color: black;
}
h1 {
	font-size: 40px;
	color: white;
	text-align: center;
	line-height: 10px;
}
#description{
	text-align: center;
	color: white;

}
.title-deco{
	height: 0px;
	width: 70%;
	border-bottom: 7px solid white;
	background-color: pink;
}
.title-box {
	padding: 0px px 0px;
	border-bottom: 8px white solid;

	height: 60px ;

}
#title-container{
	height: 200px;
	display: flex;
	background-color: transparent;
	justify-content: right;
}
@media (min-width 720px){
#personal-container{
	background-color:transparent;
	display: flex;
	height: 600px;
	justify-content: center;
	padding: 10px;

}
.form-container{
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
}
#personal-box {
	display: flex;
	flex-direction: row;

}
}
#personal-box{
	background-color: teal;
	width: 90%;
		
}
#checkboxes{

}
#labels{
		
}
body{
	background-color: #30302f;
}
