body{
	background: linear-gradient(rgb(162, 163, 226), rgb(195,192,245)) no-repeat;
	margin: 0;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 64px;
	align-text: center;

}
.title-div{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	justify-content: center;
	align-items: center
		
}
.title-text{
	text-align: center;
	display: block;
}
.title-grid-t{
	display: grid;
	grid-template-columns: 280px 1fr 280px; 

}
.title-grid-b{
	display: grid;
	grid-template-columns: 86px 1fr 86px;
}
.content-grid{
	display: grid;
	grid-template-columns: 86px 1fr 86px;
}
.help{
	border: dashed purple 3px;
}
.flip{
	transform: scaleX(-1);
}
@media screen and (max-width: 1035px){
	.help{
		background-color: yellow;	
	}

}
